---
layout: bootcamp
root: .
venue: Dalhousie University
address: TBA
country: Canada
humandate: Jul 14-15, 2014
humantime: 8:00 am - 6:00 pm
startdate: 2014-07-14
enddate: 2014-07-15
latlng: 44.6369,-63.5917
registration: restricted
instructor: ["Diego Barneche", "Gavin Simpson", "Ross Dickson"]
helper: ["Daniel Morrison"]
contact: diego.barneche@mq.edu.au
---
<h2>General Information</h2>

<p>
  This intensive 2-day <a href="//software-carpentry.org">Software Carpentry</a> bootcamp will introduce attendees to a range of computing skills aimed at making them more productive and efficient in their work. A substantial focus of the workshop will be on improving programming skills in R, but will also include topics on version control, using the shell, and reproducible research. Short tutorials will alternate with hands-on practical exercises. Participants will be encouraged both to help one another, and to apply what they have learned to their own research problems during and between sessions.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The bootcamp is targeted at postgraduate students and other researchers in Biology and Oceanography.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your bootcamp.
-->
<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00 - 08:30</td> <td>Introduction + Rstudio</td> </tr>
      <tr> <td><em>8:30 - 11:00</em></td> <td><em>Functions</em></td> </tr>
      <tr> <td>11:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00 - 14:00</td> <td>Project setup</td> </tr>
      <tr> <td><em>14:00 - 15:30</em></td> <td><em>Repeating things (plyr)</em></td> </tr>
      <tr> <td><em>15:30 - 15:45</em></td> <td><em>Tea break</em></td> </tr>
      <tr> <td>15:45 - 17:00</td> <td>Repeating things (loops)</td> </tr>
      <tr> <td>17:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 10:00</td> <td>Testing</td> </tr>
      <tr> <td>10:00 - 11:00</td> <td>Basic shell scripting</td> </tr>
      <tr> <td>11:00</td> <td>Lunch break</td> </tr>
      <tr> <td><em>13:00 - 15:00</em></td> <td><em>Version control with git</em></td> </tr>
      <tr> <td><em>15:00 - 15:15</em></td> <td><em>Tea break</em></td> </tr>
      <tr> <td><em>15:15 - 16:00</em></td> <td><em>Git workflows</em></td> </tr>
      <tr> <td>16:00 - 17:00</td> <td>Reproducible research with knitr</td> </tr>
      <tr> <td>17:00</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
